<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" defaultHref="/tabs/deaths">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ death?.death }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="death" class="movie-card">
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      Cause: {{death.cause}}
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      Responsible: {{death.responsible}}
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      Season: {{ death.season }}  Episode: {{ death.episode }}
    </ion-item>
    <ion-item>
      <ion-icon name="id-card-outline" slot="start"></ion-icon>
      Number of Deaths: {{death.number_of_deaths}}
    </ion-item>
  </ion-card>

</ion-content>
